* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, rgba(10, 181, 233, 0.8), rgba(233, 218, 10, 0.4));
}

img {
  height: 100%;
  overflow: hidden;
}

#game-buttons {
  border-bottom: 3px solid black;
  padding-bottom: 3px;
  display: flex;
  justify-content: space-around;
}

#game-buttons button {
  width: 22%;
  border: 2px solid black;
  background-color: transparent;
  border-radius: 5px;
  font-family: Tahoma, sans-serif;
  font-size: 2.5rem;
  transition: all 0.2s ease-in-out;
  box-shadow: 1px 1px 1px 0 black;
}

@media (max-width: 800px) {
  #game-buttons button {
    font-size: 1rem;
  }
}
#game-buttons button:hover {
  background-color: yellow;
  z-index: 3;
}

#game-buttons button:nth-of-type(4) {
  width: 30%;
}

#topic-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5px;
  margin-top: 15px;
}
#topic-buttons button {
  width: 100%;
  max-width: 240px;
  height: 3rem;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  font-family: Tahoma, sans-serif;
  font-size: 2rem;
  transition: all 0.2s ease-in-out;
  box-shadow: 1px 1px 1px 0 black;
}
#topic-buttons button:hover {
  background-color: yellow;
}

.inner-btn-menu {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
#select-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 2px;
    align-content: center;
    justify-content: center;
    gap: 6px;
}
#select-container .img-box {
    display: flex;
    width: 23%;
    max-height: 31vh;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    box-shadow: 1px 1px 1px 0 black;
}

.inner-btn-menu button {
  height: 2rem;
  width: 22%;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 5px;
  font-family: Tahoma, sans-serif;
  font-size: 1.5rem;
  transition: all 0.2s ease-in-out;
  box-shadow: 1px 1px 1px 0 black;
}
@media (max-width: 800px) {
  .inner-btn-menu button {
    font-size: 1rem;
  }
}
.inner-btn-menu button:hover {
  background-color: yellow;
}

.inner-btn-menu button:nth-of-type(3) {
  width: 50%;
}

.selected {
  box-shadow: 0 0 15px red;
  border-radius: 15%;
}

.cards-container {
  background-color: white;
  position: absolute;
  width: 90%;
  height: 80%;
  top: 11%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  align-content: center;
  justify-content: space-between;
  border: 1px solid black;
  overflow: hidden;
  box-shadow: 2px 2px 3px 2px gray;
}
.answer-display {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: gainsboro;
  z-index: 2;
  overflow: hidden;
}

.cards-display {
  width: 90%;
  height: 80%;
  border: 1px solid black;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 10px;
  margin-top: 1px;
}
.answer-image-grid {
  height: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: center;
  overflow:hidden;
  padding-top: 2px;
}
.submit-answer-button-box {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.submit-answer {
  height: 100%;
  width: 100%;
  font-size: 2rem;
  border-radius: 10px;
  transition: all 0.3s linear;
}
.submit-answer:hover {
  box-shadow: 0 0 5px 3px black;
}
.after-answers {
  background-color: black;
  color: white;
  box-shadow: 0 0 5px 3px black;
}
.answer-image img {
  width: 100%;
  height: 90%;
  max-height: 150px;
  max-width: 200px;
  border-radius: 5px;
}
.answer-to-submit {
  box-shadow: 0 0 2px 5px blue;
}

.correct {
  background-color: green;
}
.wrong {
  background-color: red;
}

.go-to-answer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 21%;
  height: 10%;
  font-size: 2.5rem;
  background-color: white;
  color: black;
  border-radius: 10px;
  box-shadow: 0 -0 3px 5px white;
  border: none;
  overflow: hidden;
}
.go-to-answer:hover {
  box-shadow: 0 0 8px 5px white;
}
.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;
}

.eight {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.ten {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.twelve {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.image img {
  width: 100%;
  height: 100%;
  max-height: 180px;
  max-width: 220px;
  border-radius: 50%;
  background-color: yellow;
}

.button-display {
  height: 20%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.speed-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 25%;
  height: 100%;
  font-size: 1.5rem;
}
.speed-buttons button:hover {
  background-color: yellowgreen;
}

.speed-set {
  background-color: yellowgreen;
  box-shadow: 0 0 2px 2px yellowgreen;
}
.show-hide-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 20%;
}
.show-hide-buttons button {
  height: 60%;
}
.show-hide-buttons button:hover {
  background-color: lawngreen;
}
.start-button{
  height: 95%;
  width: 20%;
}
.start-button button {
  height: 100%;
  width: 100%;
  color: white;
  font-size: 2rem;
}
.flash-start-green {
  background-color: green;
}
.flash-start-red {
  background-color: red;
}

.flash-buttons {
  font-size: 1rem;
  border-radius: 5px;
}

.hide-me {
  display: none;
}
.reduced {
  height: 0px;
  border: none;
  box-shadow: none;
}

.conceal-menu {
  overflow: hidden;
  height: 20px;
}

.conceal-menu:hover {
  height: 100%;
}

.hidden {
  opacity: 0%;
  transition : opacity 0.5s linear;
}

.shown {
  opacity: 100%;
  transition: opacity 0.5s linear;
}

.unavailable {
  opacity: 50%;
}

#game-buttons button.unavailable:hover {
  background-color: transparent
}

.warning {
  box-shadow: 0 0 2px 5px red;
}
#game-buttons .warning {
  box-shadow: 0 0 2px 5px red;
}
@media (max-height: 700px) {
  .answer-image img {
    max-height: 90px;
    max-width: 140px;
  }
  .image img {
  max-height: 140px;
  max-width: 190px;
  }
  .submit-answer {
    font-size: 1rem;
  }
  .go-to-answer {
    font-size: 1.5rem;
  }
}
@media (max-height: 500px) {
  .answer-image img {
    max-height: 60px;
    max-width: 105px;
  }
  .image img {
  max-height: 80px;
  max-width: 130px;
  }
  .go-to-answer {
    font-size: 1rem;
  }
  .speed-buttons button {
    font-size: 0.7rem;
  }
}